@import "tailwindcss";

@theme {
  --color-bg-primary: #030303;
  --color-bg-secondary: #0D0D0D;
  --color-text-primary: #FAFAFA;
  --color-text-secondary: #888888;
  --color-accent: #FF3A00;
  
  --font-sans: var(--font-inter), sans-serif;
  --font-display: var(--font-space-grotesk), sans-serif;
  --font-mono: var(--font-geist-mono), monospace;
}

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}

::selection {
  background-color: var(--color-accent);
  color: var(--color-bg-primary);
}

